html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1f2937;
    width: 100%;
}
.header--container {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 24px;
}
.header--logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.header--links ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
.header--links ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    width: 100%;
}
.hero--container{
    max-width: 900px;
    display: flex;
    margin: auto;
    padding: 24px;
    gap: 12px;
}

.hero--content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero--content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
.hero--content p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
    margin: 0 0 30px;
}

.hero--content button {
    width: 100px;
    height: 30px;
    background-color: #3882f6; 
    color: #f9faf8;
    font-weight: 900;
    border-radius: 8px;
    border: none;
}
.hero--image {
    flex: 1;
    width: 300px;
    height: 200px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}


.information {
    width: 100%;
    display: flex;
    justify-content: center;
}
.information-container {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    padding: 34px;
    margin-bottom: 34px;
}
.information--header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}
.card--img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}
.card p {
    margin: 0;
    text-align: center;
    color: #1f2937
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 100%;
}
.quote-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 50px;
}
.quote-section--quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
.quote-section--author {
    font-weight: 900;
    align-self: flex-end;
}


.cta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta--container {
    width: 900px;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 100px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #f9faf8;
}
.cta-msg {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 3;
}
.cta-msg h4,
.cta-msg p {
    margin: 0;
}
.cta-btn {
    border: 2px solid #f9faf8;
    border-radius: 8px;
    width: 100%;
    padding: 10px 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-btn button {
    font-weight: 900;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
}


.footer {
    width: 100%;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color:#e5e7eb;
}